.center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.small-text {
    font-size: small;
}

.smaller-text {
    font-size: smaller;
}

.large-text {
    font-size: large;
}

.larger-text {
    font-size: larger;
}

.font-roman {
    font-family: 'Times New Roman', Times, serif;
}

.font-segoe {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.underline {
    text-decoration-line: underline;
}

.overline {
    text-decoration-line: overline;
}

.line-through {
    text-decoration-line:line-through;
}

body {
    background-color: #070707;
}

p, h1, h2, h3, h4, h5, h6, input, button {
    color: #e8ebef;
    font-family: "Lekton", monospace;
    font-weight: 400;
    font-style: normal;
}

.bold {
    font-weight: bold;
}

.italics {
    font-style: italic;
}

.big-text {
    font-size: 3em;
}

.no-margin {
    margin: 0;
}

.puzzle {
    background-color: #1a1a1a;
    border-radius: 10px;
    padding: 1%;
    margin: 0.5%;
    cursor: pointer;
    width: 49.6vh;
    height: 49.6vh;
}

.puzzle:hover {
    background-color: #2a2a2a;
}

#puzzle-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    background-color: #060606;
}

.img-puzzle {
    width: 100%;
    height: 100%;
}

#popup-dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    background-color: #1a1a1a;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-height: 80vh;
    overflow-y: scroll !important;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.puzzle-info {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.dark-input {
    background-color: #1a1a1a;
    color: #e8ebef;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.dark-button {
    background-color: #1a1a1a;
    color: #e8ebef;
    border: 1px solid #ccc;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
}

#close-popup {
    color: #e8ebef;
    cursor: pointer;
    position: absolute;
    right: 40px;
}

.answer-field {
    border-radius: 5px;
    width: 100%;
    margin: 10px;
}

.puzzle-form {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-button {
    width: 30%;
    height: 50px;
}

.submit-button:disabled, .answer-field:disabled {
    background-color: #555;
    cursor: not-allowed;
}

.solved {
    background-color: #4acf50;
}

img {
    object-fit: cover;
}

.img-container {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
}

.tab-btn {
    width: 7.5vh;
    height: 7.5vh;
    background-color: #1a1a1a;
    border-radius: 10%;
    font-size: 1.25em;
    margin: 1vh;
}

.tab-btn:hover {
    background-color: #2a2a2a;
}

.selected {
    background-color: #4acf50 !important;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #e8ebef;
}

.form-item {
    display: inline;
    width: 7.5vh;
    height: 7.5vh;
    background-color: #1a1a1a;
}

.tab-input {
    width: 15vh;
    height: 7.5vh;
    background-color: #1a1a1a;
    border-radius: 10%;
}

.account-line {
    width: 100%;
    text-align: left;
}

.sign-up, .log-in {
    width: 100%;
    height: 100%;
}

.overlay-not-logged-in {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

#sign-up-error, #log-in-error {
    color: red;
    font-size: 0.8em;
    margin-top: 10px;
}

#settings-icon, #leaderboard-icon {
    color: #e8ebef;
    cursor: pointer;
}